@{
    ViewData["Title"] = "Weather Archive Viewer";
}

@model WeatherArchiveViewModel

<div class="text-center">
    <div class="table-responsive mb-1">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Temperature</th>
              <th scope="col">Humidity</th>
              <th scope="col">Dewpoint</th>
              <th scope="col">Atmosphere Pressure</th>
              <th scope="col">Wind Direction</th>
              <th scope="col">Wind Speed</th>
              <th scope="col">Overcast</th>
              <th scope="col">Overcast Lower Limit</th>
              <th scope="col">Horizontal Visibility</th>
              <th scope="col">Weather Events</th>
            </tr>
          </thead>
          <tbody>
            @foreach(WeatherRecord record in Model.WeatherRecords)
              {
              <tr>
                <th scope="row">@record.DateOfRecord</th>
                <td>@record.TimeOfRecord</td>
                <td>@record.Temperature</td>
                <td>@record.Humidity</td>
                <td>@record.Dewpoint</td>
                <td>@record.AtmosPressure</td>
                <td>@record.WindDirection</td>
                <td>@record.WindSpeed</td>
                <td>@record.Overcast</td>
                <td>@record.OvercastLowerLimit</td>
                <td>@record.HorizontalVisibility</td>
                <td>@record.WeatherEvents</td>
              </tr>
              }
          </tbody>
        </table>
    </div>
   
    <nav aria-label="Month pagination">
      <ul class="pagination">
        @foreach(string month in Model.MonthStrings)
          {
            if (month == Model.SelectedMonth) 
            {
              <li class="page-item active"><a class="page-link" href="@string.Format("Viewer?year={0}&month={1}", Model.SelectedYear, month)">@month</a></li>
            }
            else 
            {
              <li class="page-item"><a class="page-link" href="@string.Format("Viewer?year={0}&month={1}", Model.SelectedYear, month)">@month</a></li>
            }
          }
      </ul>
    </nav>

    <nav aria-label="Year pagination">
      <ul class="pagination">
        @foreach(string year in Model.YearStrings)
          {
            if (year == Model.SelectedYear) 
            {
              <li class="page-item active"><a class="page-link" href="@string.Format("Viewer?year={0}&month=January", year)">@year</a></li>
            }
            else 
            {
              <li class="page-item"><a class="page-link" href="@string.Format("Viewer?year={0}&month=January", year)">@year</a></li>
            }
          }
      </ul>
    </nav>
</div>

